html, body, #layout  {
    padding: 0;
    margin: 0;
    height: 100%;
    text-align: center;
}

#layout > * {
    border: dashed 1px red;
}

#layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 2fr 14fr 1fr;
    height: 100%;
}

header {
    grid-row: 1;
    grid-column: 1;
}

nav {
    grid-row: 2;
    grid-column: 1;
    justify-content: space-between;
}

main {
    grid-row: 3;
    grid-column: 1;
    display: grid;
    grid-template-columns: 2fr 2fr 4fr;
    grid-template-rows: 1fr ;
    border: dashed 1px red;

}
main> * {
    border:1px dashed aqua;
}

#pic-1 {
    grid-column: 1;
}

#pic-2 {

    grid-column: 2;
}

#pic-3{
    grid-column: 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr;
}
#pic-3> * {
    border:1px dashed blue;
}

footer {
    grid-row: 4;
    grid-column: 1;
}

#CU {
    border: 1px dashed red;
}

#CU {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

form > label:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}
form > input:nth-child(1) {
    grid-column: 2;
    grid-row: 1;
}
form > label:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}
form > input:nth-child(2) {
    grid-column: 2;
    grid-row: 2;
}
form > label:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
}
form > input:nth-child(3) {
    grid-column: 2;
    grid-row: 3;
}

/* #text {
    grid-column: 1;
    grid-row: 1;
}
#textb {
    grid-column: 2;
    grid-row: 1;
}

#mail {
    grid-column: 1;
    grid-row: 2;
}
#mailbox {
    grid-column: 2;
    grid-row: 2;
} */